@import url("/_colors.scss");
@import url("/_stars.scss");

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  .hidden {
    display: none;
  }
  main {
    height: 100%;
    #root {
      height: 100%;
      font-family: "PTSans", "Helvetica Neue", "Helvetica", sans-serif;
      header {
        z-index: 2;
        position: fixed;
        padding: 16px 8px;
        width: calc(100% - 16px);
        transition: all 0.3s ease-in-out;
        nav {
          ul {
            gap: 30px;
            margin: 0;
            padding: 0;
            display: flex;
            list-style-type: none;
            justify-content: flex-end;
            li {
              line-height: 20px;
              position: relative;
              --underline-color: var(--color-white);
              a {
                font-size: 1rem;
                font-weight: 600;
                transition: all 0.3s ease-in-out;
              }
              &::after {
                content: "";
                top: 24px;
                left: 0px;
                width: 0px;
                height: 0px;
                position: absolute;
                border-radius: 2px;
                transition: all 0.3s ease-in-out;
                background: var(--underline-color);
              }
              &:hover {
                &::after {
                  height: 2px;
                  width: 36px;
                }
              }
              &.focused::after {
                height: 2px;
                width: 36px;
              }
            }
          }
        }
        &.is-scrolling {
          padding: 24px 8px;
          background: var(--color-white);
          box-shadow: 0px 0px 10px -4px var(--color-black);
          nav ul li {
            --underline-color: var(--color-blue);
            a {
              color: var(--color-black);
            }
          }
        }
      }
      > div {
        height: 100vh;
        display: flex;
        padding: 0 16px;
        justify-content: center;
        &#home {
          position: relative;
          color: var(--color-white);
          background: var(--color-black);
          .container {
            gap: 32px;
            z-index: 1;
            display: flex;
            padding-top: 25%;
            flex-flow: column;
            align-items: center;
            .console-container {
              display: flex;
              font-size: 2rem;
              .focus-cursor {
                &.flicker {
                  opacity: 0;
                }
              }
            }
            button {
              border: 0;
              padding: 8px 16px;
              border-radius: 6px;
              background: var(--color-blue);
              a {
                font-size: 1rem;
                color: var(--color-white);
              }
            }
          }
        }
        &#about {
          background: var(--color-gray);
          .container .about-wrapper {
            padding: 24px;
            margin-top: 36px;
            border-radius: 5px;
            height: calc(100% - 128px);
            background: var(--color-light-blue);
            h1 {
              text-align: center;
            }
            .about-content {
              display: grid;
              grid-template-columns: 1fr 1fr;
              height: calc(100% - 4rem - 24px);
              .photo {
                width: 90%;
              }
              .about-text {
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                height: 100%;
              }
            }
          }
        }
        &#contact {
          background-attachment: fixed;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url(/assets/images/hubble-spiral.jpg);
          .container .contact-wrapper {
            padding: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(100% - 6rem);
            .contact-content {
              padding: 2rem;
              border-radius: 6px;
              background: var(--color-white);
              form {
                margin-bottom: 0;
                .form-control {
                  padding-bottom: 1.125rem;
                  textarea {
                    resize: vertical;
                  }
                  input,
                  textarea {
                    width: 50%;
                    padding: 0.55rem;
                    border-radius: 4px;
                    border: 1px solid var(--color-dark-gray);
                  }
                }
                button {
                  border: none;
                  padding: 0.8rem;
                  border-radius: 24px;
                  color: var(--color-white);
                  background: var(--color-blue);
                }
              }
            }
          }
        }
        &:not(#home) {
          .container {
            width: 100%;
            padding-top: 68px;
          }
        }
        h1 {
          margin: 0;
          font-size: 4rem;
        }
        h2 {
          margin: 0;
          font-size: 2rem;
        }
      }
      a {
        &.limited-behavior {
          text-decoration: none;
          color: var(--color-white);
          button {
            color: inherit;
            pointer-events: none;
          }
        }
      }
    }
  }
}
